/* Write your CSS here - remember to add Id's or classes to the HTML file */
body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.title {
    font-size: 100px;
    background-image: url(./img/Records.jpg);
}

#orange {
    background-color: #ef8354;
}

#blue {
    background-color: #0e7c7b;
}

#purple {
    background-color: #9c538b;
}

.centre {
    text-align: center;
}

.image1 {
    size: 500px;
}



